body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.linkStyle {
  color: #0366d6;
  cursor: pointer;
  text-decoration: none;
}
.linkStyle:hover {
  text-decoration: underline;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
/* HEADER */
.headerWrapper {
  width: 100%;
  height: 54px;
}
.header {
  width: 100%;
  height: 30px;
  z-index: 1;
  padding: 12px 0px;
  margin: 0px auto;
  color: rgba(255,255,255,0.75);
  background-color: #24292e;
  font-size: 14px !important;
}
.headerContainer {
  max-width: 980px;
  height: 30px;
  padding: 0px 16px !important;
  margin: 0px auto;
}
.logo {
  width: 5% !important;
  height: 30px !important;
}
.logoLink {
  width: 32px !important;
  height: 32px !important;
}
.logo img {
  width: 32px;
  height: 32px;
}
.headerMenu {
  width: 95%;
  height: 30px;
}
.headerMenuLeft {
  width: 67%;
  height: 30px;
}
.headerMenuRight {
  width: 14%;
  height: 30px;
}
.headerSearch {
  width: 300px;
  height: 30px;
  font-size: 13px;
  display: table;
  border: 0px;
  color: rgba(255,255,255,0.75);
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.headerSearchInput {
  width: 284px;
  height: 30px;
  background-color: rgba(255,255,255,0.125);
  padding: 0px 8px;
  border-radius: 3px;
  border: 0px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
  font-family: inherit;
}
.headerSearchInput:focus {
  outline: none;
}
.headerNav {
  height: 30px;
  padding-left: 8px;
  width: 50%;
  margin: 0px;
  float: left;
  list-style-type: none;
  display: table;
  font-size: 14px !important;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.headerNav li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.headerNavLink {
  width: 100%;
  font-weight: 600 !important;
  color: rgba(255,255,255,0.75);
  text-decoration: none;
  cursor: pointer;
}
.headerNavLink:hover {
  color: white;
}
.headerNavIcons {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
  display: table;
  width: 100%;
  height: 30px;
}
.headerNavIcons li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5px 5px;
}
.headerNavIconsLink {
  width: 100%;
}
.bellImg {
  width: 19px;
  height: 19px;
}
.headerNavIconsLink .tooltiptext {
  visibility: hidden;
  width: 190px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;
  /* Position the tooltip */
  position: absolute;
  top: 45px;
  left: 70%;
  z-index: 1;
}
.headerNavIconsLink:hover .tooltiptext {
  visibility: visible;
}
.plusImg {
  width: 14px;
  height: 14px;
}
.arrowImg {
  width: 10px;
  height: 10px;
  margin-left: 4px;
}
.thumbnail {
  width: 20px;
  height: 20px;
}
.thubm {
  width: 20px;
  padding-left: 5px;
}
.thumbLink {
  width: 20px;
  margin-top: 4px;
}
/* END OF HEADER */
/* MAIN */
.mainContainer {
  max-width: 980px;
  height: 780px;
  margin: 0px auto;
  margin-top: 24px;
  margin-bottom: 40px;
  padding: 0px 16px;
}
.mainLeftContainer {
  width: 229px;
  height: inherit;
  padding-right: 16px;
}
.mainLeftContainer img {
  width: 100%;
  height: 230px;
  border-radius: 6px !important;
}
.userInfo {
  width: 100%;
  height: 54px;
  padding: 16px 0px;
}
.userName {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  word-wrap: break-word;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.userNickName {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  word-wrap: break-word;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.mainRightContainer {
  width: 727px;
  height: inherit;
  padding-left: 8px;
}
.mainRightContainer span {
  font-weight: 400 !important;
  font-size: 16px !important;
  margin-bottom: 8px !important;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  color: #24292e;
  display: block;
}
.mainRightContainer ol {
  list-style: none;
  margin: 0px;
  margin-bottom: 24px !important;
  width: 100%;
  height: 113px;
  padding: 0px;
}
.mainRightContainer ol li {
  width: 95%;
  height: 79px;
  padding: 16px;
  border-radius: 3px !important;
  border: 1px #e1e4e8 solid !important;
}
.repoLink {
  font-weight: 600 !important;
  word-wrap: break-word;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
}
/* END OF MAIN */
/* FOOTER */
.footerContainer {
  max-width: 980px;
  margin: 0px auto;
  padding: 0px 16px;
  height: 106px;
}
.footerContent {
  width: 100%;
  height: 25px;
  padding: 40px 0px;
  border-top: 1px #e1e4e8 solid !important;
}
.footerMenuLeft {
  list-style-type: none;
  padding: 0px;
  width: 39%;
  height: 25px;
  margin: 0px;
}
.footerMenuLeft li {
  font-size: 12px !important;
  color: #586069 !important;
  margin-right: 16px;
}
.footerMenuLeft li:last-child {
  margin-right: 0px;
}
.footerLogo {
  width: 27%;
  height: 30px;
  text-align: center;
}
.footerLogo img {
  width: 30px;
  height: 30px;
  margin-top: -3px;
}
.footerMenuRight {
  list-style-type: none;
  padding: 0px;
  width: 32%;
  height: 25px;
  margin: 0px;
}
.footerMenuRight li {
  font-size: 12px !important;
  color: #586069 !important;
  margin-right:16px;
}
.footerMenuRight li:last-child {
  margin-right: 0px;
}
/* END OF FOOTER */
/* PROJECT PAGE */
.projectLink {
  color: #0366d6;
  text-decoration: none;
  margin: 0px 5px;
  font-size: 18px;
  line-height: 26px;
  word-wrap: break-word;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.projectLink:hover {
  text-decoration: underline;
}
/* END OF PROJECT PAGE */